extends ../layouts/default

block head
  title Tinnker

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    h1 Welcome to Martbell!
    p.lead
      | A local online marketplace.
      div
        a.btn.btn-primary.btn-lg(href='/signup/') Create an Account
      div.clearfix
  div.row
    div.col-sm-6
      div.panel.panel-default
        div.panel-body
         h3 Sign Up
          p Create an account and start selling online.
          a.btn.btn-primary.btn-lg(href='/signup/') Learn More
    div.col-sm-6
      div.panel.panel-default
        div.panel-body
          h3 Contact Us
          p In case of any queries feel free to contact us.
          a.btn.btn-primary.btn-lg(href='/contact/') Learn More

